/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2018, 8:35:34 PM
    Author     : wittakarn
*/

.brand__list {
    width: 10%;
}

.brand__link--image {
    width: 100%;
}

.brand__link {
    padding: 0;
    margin: 5px;
    border: 2px solid lightgrey;
    border-radius: 3px;
    box-shadow: 3px 3px lightgrey;
}

@media (max-width: 1000px){
    .brand__list {
        width: 14%;
    }
}
