/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2018, 4:58:07 PM
    Author     : wittakarn
*/
.product-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem 1rem;
    padding: 0;
    list-style-type: none;
}

.product__column {
    width: 12.5%;
}

.product__column--main {
    border: 1px solid black;
}

.product__link {
    display: inline-block;
    height: 100%;
}

.product__link--image {
    width: 100%;
}

.product__link--code {
    text-align: center;
}

.product-opt__container {
    height: 100%;
    border: 1px solid black;
}

.product-opt.product-opt__image {
    width: 100%;
}

.scroll-check-point {
    display: block;
    margin: 0 auto;
    width: 8%;
}
