/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2018, 4:58:07 PM
    Author     : wittakarn
*/
body {
    overflow-y: scroll;
}

.product-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

.product__column {
    width: 11.5%;
    margin: 3px;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product__column:hover {
    transform: translate(0px,-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product__column--main {
    width: 15%;
}

.product__column--option {
    height: 100%;
}

.product__link {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #80ADD7;
}

.product__link--image {
    width: 100%;
}

.product__detail {
    text-align: center;
    color: #80ADD7;
}

ul.product-opt__container {
    padding-left: 0;
}

.product-opt__container--image {
    position: relative;
}

.product-opt__container--detail {
    padding-top: 10px;
}

.product-opt__code {
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 30%;
    box-shadow: 1px 1px 2px #888;
    background-color: #0ABDA0;
    text-align: center;
}

.product-opt.product-opt__image {
    width: 100%;
}

.product-opt__detail {
    color: #80ADD7;
    list-style-type: none;
    padding-left: 15%;
}

.product-opt__detail--reserve {
    padding-left: 0;
    text-align: center;
}

.reserve-button {
    margin: 5%;
}

a.product__link{
    text-decoration: none;
}

.scroll-check-point {
    display: block;
    margin: 0 auto;
    width: 8%;
}

.absolute-center {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
