/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2018, 12:22:00 PM
    Author     : wittakarn
*/
body {
    overflow-y: scroll;
    min-width: 1000px;
}

.without-padding {
    padding: 0;
}

.padding-vertical {
    padding: 20px 0;
}

.text-center {
    text-align: center;
}

.bg-brown {
    background-color: #ebf2ea;
}

.bgg-brown {
    background: linear-gradient(135deg, #d4dca9, #ebf2ea 60%, #d4dca9);
}

.btn-green {
    background-color: #0abda0;
    color: #ebf2ea;
}

.bgg-darkgreen {
    background: linear-gradient(0deg, #ebf2ea, #d4dca9 70%, #ebf2ea);
}

.absolute-center {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}