/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2018, 12:22:00 PM
    Author     : wittakarn
*/

.without-padding {
    padding: 0;
}

.padding-vertical {
    padding: 20px 0;
}

.text-center {
    text-align: center;
}

.bg-brown {
    background-color: #EBF2EA;
}

.bgg-brown {
    background: linear-gradient(135deg, #D4DCA9, #EBF2EA 60%, #D4DCA9);
}

.bgg-darkgreen {
    background: linear-gradient(0deg, #EBF2EA, #D4DCA9 70%, #EBF2EA);
}

@media (max-width: 1400px){
    body {
        width: 1400px;
    }
}

@media (max-width: 1000px){
    body {
        width: 1000px;
    }
}