/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2018, 11:06:21 PM
    Author     : witta
*/

.scroll-check-point {
    display: block;
    margin: 0 auto;
    width: 8%;
}